{% extends 'basic/base.html' %}

{% block content %}
    <h1><b>
        ADD NEW STOCK
    </b></h1>
    {% if request.user.is_superuser %}
   <form name="stockform" action="" method="post">
        
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add Stock">
    </form>
    {% endif %}


    {% if request.user.is_superuser %}
    <form action="{% url 'write_pdf'%}">
        <input type="submit" value="Generate PDF" />
    </form>
    {% endif %}
{% endblock %}
